/*-- PICTURE --*/
main > picture > figure {
    display: flex;
    gap: 30px;
    height: 35vh;
    width: 85%;
    margin: auto;
}
main > picture > figure > img {
    width: 100%;
}
main > section > h3 {
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}
main > section > ul {
    columns: 3;
    list-style: none;
    margin: auto;
    padding: 2em;
    text-align: center;
    width: 80%;
}
main > section > ul > li {
    background-image: linear-gradient(rgb(196, 247, 163), rgb(0, 225, 255));
    border-radius: 10px;
    color: var(--cor8);
    margin-bottom: 1em;
    padding: 0.3em;
}
/*-- CELULAR --*/
@media screen and (min-width: 300px) and (max-width: 768px) {
    main #banner {display: none;}
    main .titulo h2 {font-size: 1.9em; padding-top: 1em;}
    main > picture > figure {display: flexbox; overflow-x: auto; }
    main > picture > figure > img {width: 100%;}
    main > section > ul {columns: 1;}
}