@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,900&display=swap');

:root {
    --cor1: #d5d5d5;
    --cor2: #50b8c2;
    --cor3: #6592c9;
    --cor4: #49997d;
    --cor5: #00836a;
    --cor6: #0a9077b3;
    --cor7: #3d3d3d;
    --cor8: #ffffff;
    --cor9: #000000;

    --font1: 'Source Sans Pro', sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font1);
    margin: 0px;
    padding: 0px;
}
/*-- HEADER --*/
header {
    background-color: var(--cor8);
    border-bottom: 1px solid var(--cor1);
    position: fixed;
    width: 100%;
    z-index: 1;
}
header>section {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-around;                  
}
header section>a {
    align-items: self-start;
    font-size: 1.5em;
    margin-left: 10px;
}
header section a>span {
    color: var(--cor3);
    padding-left: 5px;
}
header nav {
    align-items: self-end;
    margin-right: 10px;
}
header nav>a {
    padding: 0 10px 0 10px;
    text-transform: uppercase;
}
header section>a, header nav>a {
    color: var(--cor7);
    text-decoration: none;
}
header nav>a:hover {      /* Animação do Link */
    border-bottom: 2px solid var(--cor3);
}
/*-- MAIN --*/
main>.banner  {
    background-image: url("../img/img-fundo.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}
main .banner>div {
    background-color: var(--cor6);
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff; 
    font-size: 1.5em;
    padding: 0 20px;
    text-align: center;
}
main .container {
    margin-bottom:50px;
    padding-top: 60px;
    text-align: center;
}
main .container>h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
}
main .quartos {
    display: flex;
    padding: 0 100px;
    gap: 15px;
    justify-content: center;
}
main .quartos>div {
    border-bottom: 2px solid var(--cor5);
}
main .quartos a, p{
    text-align: center;
}
main .quartos img {
    filter: grayscale(1);
    object-fit: cover;
    transition: 1.0s; /* Tempo de transição da mudança de cor */
    width: 100%;
}
main .quartos>div:hover img {
    filter: grayscale(0);
}
/*-- MAIN SOBRE --*/
.descricoes {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
    width: 100%
}
.descricoes>div { 
    border: 1px solid var(--cor1);
    display: flex;
    width: 45%;
}
.descricoes>div>div {
    flex: 1 1 auto;
}
.descricoes>div>div h3, p {
    padding: 0 15px;
    text-align: center;
}
.descricoes>div img {
    height: 140px;
    object-fit: cover;
    max-width: 140px;
    width: 100%
}
.container-rota {
    margin: 0 30px 60px 30px;
}
/*=== Rodape ===*/
footer {
    background-color: var(--cor4);
    color: var(--cor8);
    background-color: var(--cor2);
}
footer h4 {
    font-size: 20px;
}
footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
}
.rodape-info {
    align-items: center;
    display: flex;
    width: 20%;
}
.rodape-link{
    text-decoration: none;
}
.rodape-icone {
    width: 30px;
}
.rodape-copyright {
    border-top: 1px solid #d5d5d5;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    width: 100%;  
}
.seta {
    width: 100%;
    position: relative;
}
.seta img {
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
}
/*=== CODIGO PAGINA RESPONSIVA CELULAR ===*/
@media (max-width: 1000px) {
    .descricoes { 
        display: flex;
        flex-direction: column;
        width: 920px;
    }
    .descricao-conteudo {
        flex: 1 1 auto;
    }
}
