@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
:root {
    --white: #FFFFFF;
    --ofred: #FD0206;
    --black: #000000;
}
/* GERAIS */
header, main article, main aside {
    display: flex;
    flex-direction: column;
}
header h1, header h2 {
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    width: 300px;
}
main article, main aside {
    justify-content: center;
    margin: auto;
    width: 65%;
}
/* HEADER */
header {
    align-items: center;
    background: url(../img/capa.jpg) top center no-repeat fixed ;
    height: 600px;
}
header h1 {
    background: var(--black);
    color: var(--white);
    margin-top: 1.5em;
}
header h2 {
    background: var(--ofred);
    color: var(--white);
}
/* MAIN */
main article {
    align-items: center;
    height: 550px;
    line-height: 2.7em;
}
main article figure img {
    height: 250px;
}
main section {
    background: url(../img/img1.jpg) center no-repeat fixed;
    background-size: cover;
    height: 600px;
}
main aside {
    height: 450px;
    line-height: 1.5em;
    text-align: justify;
}
main aside h3 {
    padding-bottom: 1em;
    text-align: center;
}
main aside mark {
    background: var(--ofred);
    color: var(--white);
    margin-top: 1em;
    padding: 0.5em;
    text-align: center;
}
/* CELULARES */
@media screen and (min-width: 320px) and (max-width: 930px) {
    main article, main aside {width: 90%;}
    main article {align-items: normal; line-height: 2em; height: 320px;}
    main article h3 {padding-bottom: 1.5em; text-align: center;}
    main article figure img {display: none;}
    main aside {height: 600px;}

    
main section {
    background: url(../img/img1.jpg) center no-repeat fixed; background-size: cover; height: 20rem;}
}